.image-link {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 50px;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.surround_link {
    scale: 10%;
    width: 100%;
    height: 100%;
    margin: -50px -80px;
}