h2 {
    font-size: 1.7rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

.navbar_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
    padding: 0;
    
}

li {
    list-style-type: none;
}

/* MEDIA QUERIES */

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 992px) {

    h2 {
        font-size: 1rem;
        margin-left: 1rem;
        text-align: center;
    }

    a {
        font-size: 1rem;
    }

}

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 768px) {

     h2 {
        margin-left: 1.5rem;
    }
    
}