.videos_container {
    padding: 0 1.5rem;
    background-image: url("../assets/images/videos_background_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.videos_logo {
    color: #baeee5;
    text-shadow: rgb(98, 76, 148) 3px 0px 0px, rgb(98, 76, 148) 2.83487px 0.981584px 0px, rgb(98, 76, 148) 2.35766px 1.85511px 0px, rgb(98, 76, 148) 1.62091px 2.52441px 0px, rgb(98, 76, 148) 0.705713px 2.91581px 0px, rgb(98, 76, 148) -0.287171px 2.98622px 0px, rgb(98, 76, 148) -1.24844px 2.72789px 0px, rgb(98, 76, 148) -2.07227px 2.16926px 0px, rgb(98, 76, 148) -2.66798px 1.37182px 0px, rgb(98, 76, 148) -2.96998px 0.42336px 0px, rgb(98, 76, 148) -2.94502px -0.571704px 0px, rgb(98, 76, 148) -2.59586px -1.50383px 0px, rgb(98, 76, 148) -1.96093px -2.27041px 0px, rgb(98, 76, 148) -1.11013px -2.78704px 0px, rgb(98, 76, 148) -0.137119px -2.99686px 0px, rgb(98, 76, 148) 0.850987px -2.87677px 0px, rgb(98, 76, 148) 1.74541px -2.43999px 0px, rgb(98, 76, 148) 2.44769px -1.73459px 0px, rgb(98, 76, 148) 2.88051px -0.838247px 0px;
}

h2 {
    text-align: center;
}

.videos_navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    text-shadow: rgb(98, 76, 148) 1px 0px 0px, rgb(98, 76, 148) 0.540302px 0.841471px 0px, rgb(98, 76, 148) -0.416147px 0.909297px 0px, rgb(98, 76, 148) -0.989992px 0.14112px 0px, rgb(98, 76, 148) -0.653644px -0.756802px 0px, rgb(98, 76, 148) 0.283662px -0.958924px 0px, rgb(98, 76, 148) 0.96017px -0.279415px 0px;

}

.videos_content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.videos_responsive {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin: 2rem;
}

.videos_title {
    font-size: 1.8rem;
    color: #baeee5;
    text-shadow: rgb(98, 76, 148) 3px 0px 0px, rgb(98, 76, 148) 2.83487px 0.981584px 0px, rgb(98, 76, 148) 2.35766px 1.85511px 0px, rgb(98, 76, 148) 1.62091px 2.52441px 0px, rgb(98, 76, 148) 0.705713px 2.91581px 0px, rgb(98, 76, 148) -0.287171px 2.98622px 0px, rgb(98, 76, 148) -1.24844px 2.72789px 0px, rgb(98, 76, 148) -2.07227px 2.16926px 0px, rgb(98, 76, 148) -2.66798px 1.37182px 0px, rgb(98, 76, 148) -2.96998px 0.42336px 0px, rgb(98, 76, 148) -2.94502px -0.571704px 0px, rgb(98, 76, 148) -2.59586px -1.50383px 0px, rgb(98, 76, 148) -1.96093px -2.27041px 0px, rgb(98, 76, 148) -1.11013px -2.78704px 0px, rgb(98, 76, 148) -0.137119px -2.99686px 0px, rgb(98, 76, 148) 0.850987px -2.87677px 0px, rgb(98, 76, 148) 1.74541px -2.43999px 0px, rgb(98, 76, 148) 2.44769px -1.73459px 0px, rgb(98, 76, 148) 2.88051px -0.838247px 0px;
    padding-top: 1rem;
}

/* MEDIA QUERIES */

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 1145px) {

    .videos_container {
        padding: 0 1.5rem;
    }

    .videos_navbar {
        gap: 3rem;
    }

    h2 {
        font-size: 1rem;
        margin-left: 1rem;
        text-align: center;
    }

    .videos_content {
        padding-left: 6rem;
    }

}

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 768px) {

    .videos_container {
        padding: 0 1rem;
    }

    .videos_logo {
        font-size: 6rem;
    }

    h2 {
        margin: 0;
        font-size: 1.8rem;
    }

    .videos_navbar {
        flex-direction: column;
        gap: 0;
    }
}

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 600px) {

    .videos_container {
        padding: 0 1rem;
    }

    .videos_logo {
        font-size: 4rem;
    }

    h2 {
        margin: 0;
        font-size: 1.8rem;
    }

    .videos_navbar {
        flex-direction: column;
        gap: 0;
    }

    .videos_content {
        padding: 0;
    }

    .videos_title {
        font-size: 1.5rem;
    }
    
}